#post-form {
    display: flex;  
  }
  
  #post-text {
    flex: 1;
    margin-right: 10px;
  }
  
  #feed {
    list-style: none;
    padding: 0;
  }
  
  #feed li {
    border-top: 1px solid #eee;
    padding: 10px;
  }
  